@model Bussiness_Object_Layer.ViewModel.QuestionAnswer



@{
    Layout = null;
}

<div id="check">
    @Html.DisplayFor(x => x.question.Question_name)
    @*@Html.DisplayFor(x => x.option_Tb1.optionsname)*@

    @*@Html.DisplayFor(x => x.answertbl.option_tb.optionsname)*@


</div>

