@model Bussiness_Object_Layer.ViewModel.QuestionAnswer


@{
    int count = 4;
}
<div class="radio2">



    @for (int i = 0; i < @count; i++)
    {
       

        @Html.RadioButtonFor(x=>x.Selected, @i) @Html.EditorFor(x => x.option_Tb[i].optionsname)<br />

    }
   

</div>