@model IEnumerable<Bussiness_Object_Layer.ViewModel.QuestionAnswer>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <title>Colan Quiz</title>
    <h4>SUBJECTS:</h4>
  
    <meta name="viewport" content="width=device-width" />
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            background-color: #d5fefd;
            background-image: linear-gradient(315deg, #d5fefd 0%, #fffcff 74%);
        }
        .container{
            margin-top:100px;
        }
        a{
            text-decoration:none;
            color:white;
        }
      
    </style>
</head>
<body class="container">
  
    <table class="table table-striped">
      

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => item._subjects.subjectname)
               
                <td>
                    <button class="btn btn-sm btn-primary">

                        @Html.ActionLink("Start Quiz", "getquestion", new { id = item._subjects.subjectID })
                        <i class="fas fa-file-alt p-1"></i>
                    </button>
                </td>
        </tr>
    }

    </table>
</body>
</html>

